<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creature Tracker</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form id="creatureForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="initiative">Initiative:</label>
        <input type="number" id="initiative" name="initiative" required>
        <label for="health">Health:</label>
        <input type="number" id="health" name="health" required>
        <label for="armorClass">Armor Class:</label>
        <input type="number" id="armorClass" name="armorClass" required>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1">
        <label for="is_player">Is Player:</label>
        <input type="checkbox" id="is_player" name="is_player">
        <button type="submit">Add Creature</button>
    </form>

    <h2>All Creatures</h2>
    <table id="creaturesTable">
        <thead>
            <tr>
                <th style="display:none;">ID</th>
                <th>Name</th>
                <th>Initiative</th>
                <th>Health</th>
                <th>Armor Class</th>
                <th style="display:none;">is_player</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for creature in creatures %}
            <tr data-id="{{ creature.id }}">
                <td style="display:none;">{{ creature.id }}</td>
                <td>{{ creature.name }}</td>
                <td>{{ creature.initiative }}</td>
                <td contenteditable="true">{{ creature.health }}</td>
                <td contenteditable="true">{{ creature.armorClass }}</td>
                <td style="display:none;" >{{ creature.is_player}}</td>
                <td>
                    <button class="delete" data-id="{{ creature.num }}">Delete</button>
                    <button class="update" data-id="{{ creature.num }}">Update</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/remove_all" method="post">       
        <button type="submit">Remove All</button>       
    </form>
        
    <form action= "/remove_creatures" method = "post">
        <button type="submit">Remove All Creatures</button>
    </form>
            
    <form action= "/remove_players" method = "post">
        <button type="submit" id="removePlayersButton">Remove All Players</button>
    </form>
</body>
</html>
